@{
    ViewData["Title"] = "Access was denied";
}

<div class=" container-sm d-flex justify-content-center mt-5">
    <div class="justify-content-center align-items-center">
        <h1>@ViewData["Title"]</h1>
        <p>You don't have the right permissions to access this page</p>
        <p>Please contact your network administrator</p>
    </div>
</div>