@model CreateProductViewModel
@{
    ViewData["Title"] = "Add new Product";
}



<div class="container d-flex flex-column align-items-center mb-5 mt-5">
    
    <partial name="_AdminNavigation" />

   <div class="container-sm" style="max-width:30rem;">

        <form method="post" novalidate>

            <div asp-validation-summary="ModelOnly" class="form-group"></div>

            <div class="row">
                <div class=" col-md-12 mb-4">
                    <div class="form-outline">
                        <input asp-for="ArticleNumber" class="form-control" />
                        <label asp-for="ArticleNumber" class="form-label"></label>
                    </div>
                    <span asp-validation-for="ArticleNumber" class="error text-danger"></span>
                </div>
                <div class="col-md-12 mb-4">
                    <div class="form-outline">
                        <input asp-for="ProductName" class="form-control" />
                        <label asp-for="ProductName" class="form-label"></label>
                    </div>
                    <span asp-validation-for="ProductName" class="error text-danger"></span>
                </div>
                <div class=" col-md-12 mb-4">
                    <div class="form-outline">
                        <textarea asp-for="Ingress" class="form-control"></textarea>
                        <label asp-for="Ingress" class="form-label"></label>
                    </div>
                    <span asp-validation-for="Ingress" class="error text-danger"></span>
                </div>
                <div class=" col-md-12 mb-4">
                    <div class="form-outline">
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <label asp-for="Description" class="form-label"></label>
                    </div>
                    <span asp-validation-for="Description" class="error text-danger"></span>
                </div>
                <div class=" col-md-6 mb-4">
                    <div class="form-outline">
                        <input asp-for="VendorName" class="form-control" />
                        <label asp-for="VendorName" class="form-label"></label>
                    </div>
                    <span asp-validation-for="VendorName" class="error text-danger"></span>
                </div>
                <div class=" col-md-6 mb-4">
                    <div class="form-outline">
                        <input asp-for="BarCode" class="form-control" disabled/>
                        <label asp-for="BarCode" class="form-label"></label>
                    </div>
                    <span asp-validation-for="BarCode" class="error text-danger"></span>
                </div>
                <button class="btn btn-block mb-4" style="background-color: #6200EA; color:white;">Add Product</button>
            </div>
        </form>
   </div>

</div>