@model UsersViewModel
@{
    ViewData["Title"] = "Backoffice";
}



<div class="container d-flex flex-column align-items-center mb-5 mt-5">
    <h1>@ViewData["Title"]</h1>

    <nav class="nav nav-pills flex-column flex-sm-row mb-5">
        <a asp-action="index" asp-controller="admin" class="flex-sm-fill text-sm-center nav-link">Dashboard</a>
        <a asp-action="products"asp-controller="admin" class="flex-sm-fill text-sm-center nav-link">Inventory</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Support Center</a>
        <a class="flex-sm-fill text-sm-center nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Admin</a>
    </nav>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Status</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <partial name="_UserPartial" model="@Model.Users" />
        <partial name="_AdminUserPartial" model="@Model.Administrators" />
    </table>
    
</div>

