@model UsersViewModel
@{
    ViewData["Title"] = "Backoffice";
}



<div class="container d-flex flex-column align-items-center mb-5 mt-5">
  <partial name="_AdminNavigation" />
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Status</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <partial name="_UserPartial" model="@Model.Users" />
        <partial name="_AdminUserPartial" model="@Model.Administrators" />
    </table>
    
</div>

