@model IEnumerable<AppUser>


    @foreach(var user in Model)
    {
        <tbody>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                             alt=""
                             style="width: 45px; height: 45px"
                             class="rounded-circle" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">@user.FirstName @user.LastName</p>
                            <p class="text-muted mb-0">@user.Email</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="text-muted mb-0">@user.CompanyName</p>
                </td>
                <td>
                    <span class="badge badge-success rounded-pill d-inline">Active</span>
                </td>
                <td>User</td>
                <td>
                    <a asp-action="index" asp-controller="underdevelopment" class="btn btn-link btn-sm btn-rounded">
                        Edit
                    </a>

                </td>
            </tr>

        </tbody>
    }
    