@model AppUser

@{
    ViewData["Title"] = User.FindFirst("DisplayName");
}


<div class="container mt-5">

   
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2>@Model.FirstName @Model.LastName</h2>
        <p>@Model.PhoneNumber</p>
        <p>@Model.CompanyName</p>
    </div>
</div>